body{
    background-color: #2E2E3A;
    font-family: 'Oswald', sans-serif;
}
#main-container{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
}
#mid-container{
    padding-top: 75px;
}

#btn-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    min-height: 80px;
    min-width: 300px;
    
}

#win-modal{
    display: block;
    position: fixed;
    float: left;
    left: calc(50% - 150px);
    bottom: 50%;
    background-color: #818D92;
    translate: (-50%,-50%);
    width: 300px;
    height: auto;
    min-height: 100px;
    text-align: center;
    border: 1px solid #A3F7B5;
}

#reset{
    background-color: #A3F7B5;
    border: 1px solid #2E2E3A;
    padding: 5px 25px;
    margin-top: 5px;
    font-size: 1em;
    font-family: 'Oswald';
}

.title-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    color: #818D92;
}

.title{
    font-size: 4em;
}

.subtitle{
    font-size: 2em;
    margin-bottom: 10px;
}

.player-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    border: 1px solid #A3F7B5;
    position:relative;
    background-color: #818D92;
    
}

.selection{
    min-height: 24px;
    min-width: 50px;
    display:flex;
    justify-content: center;
}

.change-text{
    position: absolute;
    top: 115px;
    right: 110px;
    color:black;
}
.name{
    font-size: 4em;
    color: black;
}

.score{
    font-size: 10em;
}

.win-count{
    position:absolute; 
    display:flex; 
    flex-direction: column; 
    bottom:0; 
    right:10px;
}
.dot{
    
    height: 75px;
    width: 75px;
    background-color: #818D92;
    border-radius: 50%;
    display: inline-block;
    border: #A3F7B5 1px solid;
    -webkit-box-shadow:2px 5px 16px 0px black, 5px 8px 34px 19px rgba(0,0,0,0.15); 
    box-shadow: 2px 5px 16px 0px black, 5px 8px 34px 19px rgba(0,0,0,0.15);
  
}

.win-dot{
    height: 25px;
    width: 25px;
    margin-bottom: 6px;
    background-color: #A3F7B5;
    box-shadow: 0px 10px 30px -10px #000000;
    -webkit-box-shadow: 0px 10px 30px -10px #000000; 

}

.dot-hover:hover{
    background-color: #555E62;
    cursor: pointer;
    height: 80px;
    width: 80px;
}

.middle-dot{
    margin: 0 20px 0 20px;
}

.modal-title{
    font-size: 2em;
    min-height: 50px;
}

.hidden{
  display: none !important;
}